body{ background: url(../img/bg.gif); font-family: "Microsoft YaHei";
	margin-top: 25px; margin-bottom: 0px; }
p{ margin: 0px; color: #515151; font-size: 16px; line-height: 24px; }
img{ border:0 }
a{ text-decoration: none; color:#ff3985; }
a:hover{ text-decoration: none; color:#ff3985; }
a:visited{ text-decoration: none; color:#ff3985; }

.clear{ clear: both; }
.mycontainer{ width:1103px; margin:auto; 
	background: url(../img/container.gif) repeat; }
.footer{ width: 1103px; height: 250px; background: url(../img/footer.gif); margin: auto; }
.logo{ width: 103px; height: 51px; margin: auto; padding-top: 135px; }
.copyright{ margin-top:40px; margin-left: 875px; color: #626262; font-size: 10px; }

/*Base1*/
.base1_top{ width: 907px; height: 145px; margin: auto; 
	background: url(../img/intr_top.gif); }
.base1_introduce{ display: block; width: 226px; height: 53px; margin-left: 87px;
	background: url(../img/base1_nav.png) -227px -53px no-repeat; }
.base1_introduce:hover{ background: url(../img/base1_nav.png) -227px 0 no-repeat; }
.base1_signup{ display: block; width: 227px; height: 53px; position: absolute; 
	margin-left: 314px; margin-top: -53px; background: url(../img/base1_nav.png) -453px 0 no-repeat; }
.base1_signup:hover{ background: url(../img/base1_nav.png) -453px -53px no-repeat; }

.base1_arrangement{ display: block; width: 227px; height: 53px; position: absolute;
	margin-left: 541px; margin-top: -53px; background: url(../img/base1_nav.png) 0 0 no-repeat; }
.base1_arrangement:hover{ background: url(../img/base1_nav.png) 0 -53px no-repeat; }

.base1_previous{ display: block; width: 227px; height: 53px; position: absolute;
	margin-left: 768px; margin-top: -53px; background: url(../img/base1_nav.png) -681px -53px no-repeat; }
.base1_previous:hover{ background: url(../img/base1_nav.png) -680px 0 no-repeat; }


/*Index*/
.index_top{ width: 672px; height: 215px; margin: auto;
	background: url(../img/top.gif); }
.index_nav{ width: 845px; height: 37px; margin: auto; padding-top: 20px;
	background: url(../img/nav.gif) no-repeat; }
.index_main{ width: 650px; height: 200px; margin: auto; padding-top: 20px;
	background: url(../img/center_bg.gif) no-repeat top center; }

.ul a{ width:220px; height: 100px; margin-left: 100px; margin-top: 5px; display: inline-block;
	background: url(../img/index_btn.png) 0 0 no-repeat; }
.ul a:hover{ background: url(../img/index_btn.png) 0 -98px no-repeat; }

.ur a{ width:220px; height: 84px; margin-left: -10px; display: inline-block;
	background: url(../img/index_btn.png) -220px 0 no-repeat; }
.ur a:hover{ background: url(../img/index_btn.png) -220px -84px no-repeat; }

.ll a{ width:222px; height: 74px; margin-left: 100px; display: inline-block;
	background: url(../img/index_btn.png) -428px 0 no-repeat; }
.ll a:hover{ background: url(../img/index_btn.png) -427px -74px no-repeat; }

.lr a{ width:242px; height: 68px; display: inline-block;
	background: url(../img/index_btn.png) -650px 0 no-repeat; }
.lr a:hover{ background: url(../img/index_btn.png) -650px -69px no-repeat; }

.index_previous{ margin-top: -22px; position: absolute; }
.index_introduce{ margin-top: -3px; margin-left: 338px; position: absolute; }
.index_views{ margin-top: 90px; position: absolute; }
.index_sign{ margin-top: 90px;  margin-left: 328px; position: absolute; }


/*Introduce*/

.intr_main{ margin: 40px auto -5px 87px;}
.about_event_text{ width: 723px; margin: -10px 0 0 104px; }
.about_application_text{ width: 723px; margin: -10px 0 0 104px; }
.about_skm_text{ width: 723px; margin: -10px 0 0 104px; }




/* SignUp */
.sign_main{ margin-left: 87px; margin-top:40px;}

.sign_btn_team{ display: inline-block;  width: 204px; height: 47px;
	background: url(../img/sign_btn.png) -206px 0 no-repeat; }
.sign_btn_team:hover{ background: url(../img/sign_btn.png) -206px -48px no-repeat; }

.sign_btn_single{ display: inline-block; width: 204px; height: 47px; margin-top: 20px;
	background: url(../img/sign_btn.png) 0 0 no-repeat;}
.sign_btn_single:hover{ background: url(../img/sign_btn.png) 0 -48px no-repeat;}
.sign_member_text{ margin-left: 107px; }


/* Participants */
.par_main{ margin: auto; }
.par_members{ margin:auto; }
.par_members_pic{ margin-left:250px; }
.par_members_text{ width:600px; margin:auto; font-size: 15px; line-height: 18px; }
.par_members_heart{ width:25px; height: 20px; display: inline-block; 
	background: url(../img/sign_member_char.png) -25px -4px no-repeat; }
.par_members_clover{ width:25px; height: 21px; display: inline-block; 
	background: url(../img/sign_member_char.png) 0px -2px no-repeat; }


/* Schedule */
.schedule_main{ width: 900px; padding-left: 100px; }
.schedule_tips{ margin-top: 30px; }
.pink_square{ width: 20px; height: 20px; display: inline-block; background-color: rgb(255, 171, 203); }
.tips_title{ margin-left: 30px; color: #ff3985; font-size: 20px; }
.tips_detail{ margin-left: 30px; line-height: 25px; }
.day_list{ margin-top: 50px; }
.day{ display: block; text-align: center; }
.team_bg{ width: 910px; height: 260px; background: url(../img/schedule_pink.png) no-repeat; margin-top:25px; }
.team_bg_ntr{ width: 910px; height: 260px; background: url(../img/schedule_green.png) no-repeat; margin-top:25px; }
.team_single{ display: inline-block; width: 400px; text-align: center; }
.schedule_title{ margin-top: 10px; font-size: 15px; }
.cover{ width:380px; height: 210px; margin-left: 25px; border: 1px solid pink ; }
.clover{ display: inline-block; width:40px; height: 32px; margin-left: 22px;
	background: url(../img/love_clover.png) -50px 0px no-repeat; }
.love{ display: inline-block; width:40px; height: 32px; margin-left: 22px; 
	background: url(../img/love_clover.png) no-repeat; }
.bonus{ width: 907px; height: 481px; margin: auto; background: url(../img/bonus.png) }
.bonus_text{ text-align: center; font-size: 25px; color: #ff3985; padding-top: 10px; }
.bouns_img{ width: 720px; height: 405px; margin-top: 5px; margin-left: 93.5px; border: 1px solid pink;}

/* Display */
.display_main{ width: 900px; padding-left: 130px; }
.frame_up{ width: 834px; margin-top: 40px;
	background: url(../img/display_uframe_pink.png) no-repeat;}
.frame_down{ width: 834px; height: 31px; margin-top: 20px;
	background: url(../img/display_lframe_pink.png);}
.frame_text{ width: 254px; height: 301px; margin-left: 33px; display: inline-block;
	background: url(../img/frame_text_pink.png);}
.mad_title{ margin-top: 42px; font-size: 16px;}

@media screen and (-webkit-min-device-pixel-ratio:0){
	.mad_info{ height: 50px; margin-top: 44px; }
	.mad_author{ margin-top: 3px; font-size: 15px; }
	.dl_info{ height: 50px; margin-top: 65px; }
	.mad_dl{ margin-top: 0px; font-size: 15px; }
	.dl_addr{ margin-top: 3px; font-size: 15px; }
	.feeling{ margin-top: 66px; font-size: 15px; }
}
@-moz-document url-prefix(){
	.mad_info{ height: 50px; margin-top: 44px; }
	.mad_author{ margin-top: 0px; font-size: 15px; }
	.dl_info{ height: 50px; margin-top: 65px; }
	.mad_dl{ font-size: 15px; }
	.dl_addr{ margin-top: 0px; font-size: 15px; }
	.feeling{ margin-top: 66px; font-size: 15px; }	
}

.mad_info{ 
	height: 50px \9; 
	margin-top: 44px \9; 
}
.mad_author{ 
	margin-top: 0px \9; 
	font-size: 15px; 
}


.dl_info{
	height: 50px \9;
	margin-top: 65px \9;
}
.mad_dl{ 
	font-size: 18px; 
}
.dl_addr{ 
	margin-top: 0px \9; 
	font-size: 15px; 
}
.feeling{ 
	margin-top: 66px \9; 
	font-size: 18px; 
}
.mad_feeling{ width: 770px; margin-top: 5px; margin-left: 33px; font-size: 15px; }


.mad_image{ width: 480px; height: 270px; margin-top: -250px; margin-left: 30px; 
	border: 1px solid #ff3985;
	-webkit-box-shadow:2px 2px 6px black;
	-moz-box-shadow:2px 2px 6px black;
	box-shadow: 2px 2px 6px black;
}
.day_nav{ width: 80px;
	position: fixed; 
	left: 86%; 
	bottom: 2%;
	border: 2px solid pink;
	border-radius: 15px;
	background-color: white; 
}
.day_nav ul{ margin-left: 0px; list-style-type: none; text-align: center;  }
.queen{ width: 80px; height: 80px; 
	position: fixed; 
	left: 92%; 
	bottom: 2%;
	border: 2px solid pink;
	border-radius: 15px;
}
.hide{ width: 550px; margin: auto; }
.hotfloor{ width:125px; height: 125px; border: 2px solid white; border-radius: 10px; }
.color_hotfloor{ border: 2px solid white; border-radius: 10px; }


/* Error */
.error_main{ width: 500px; margin: auto; }
.error{ text-align: center; font-size: 40px; }
