<!DOCTYPE html>
<html>
    <head>
        <title>SKM第八届吊打热地板大会</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'libs/normalize.css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'common/styles/common.css' %}">
        <link rel="stylesheet" href="{% static '2016/styles/main.css' %}">
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static '2016/scripts/main.js' %}"></script>

        <link rel="shortcut icon" href="/favicon2016.ico?20160117">
    </head>

    <body>
        <div id="hotfloor-x">
            <div id="main">
                <div id="logo-ev-container">
                    <div id="logo-ev"></div>
                </div>

                <div id="nav">
                    <a class="info" data-dna="1" href="/2016/info/"></a>
                    <a class="signup" data-dna="2" href="/2016/signup/"></a>
                    <a class="watch" data-dna="3" href="#"></a>
                    <a class="prev" data-dna="4" href="/2015/"></a>
                </div>
            </div>


            <div id="dna" class="p1">
                <div id="footer">
                    <div id="logo-skm"></div>
                    <p id="copyright">Copyright © 2008-2016 SakuraMaiMad Studio</p>
                </div>
            </div>
        </div>
    </body>
</html>
