{% extends '2016/base.html' %}

{% block title %}
<title>吊打热地板！！</title>
{% endblock %}

{% block main %}

<div id="info-container">
    <ul class="links-container">
        <li class="links">关于</li>
        <li class="links">报名规则</li>
        <li class="links">作品要球</li>
        <li class="links">报名通道</li>
    </ul>

    <div class="main">

        <!-- 1 -->
        <div class="info-title">
            <span class="left">关</span>
            <span class="right">于</span>
        </div>

        <p class="info-detail">
            是SakuraMai M@D Studio历年MAD活动，从09年开始每年一届，至2012年已经举办4届。
        </p>
        <p class="info-detail">
            起初是在农历新年进行的组内MAD展示大会，后变为面向全体MADer的MAD活动
        </p>
        <p class="info-detail">
            自第二届开始“情人祭”改名为“白色情人祭”，于每年的3.14日公开。
        </p>
        <p class="info-detail">
            12年改为组队方式参与,沿用至今。
        </p>

        <!-- 2 -->
        <div class="info-title">
            <span class="left">报名</span>
            <span class="right">规则</span>
        </div>

        <p class="info-detail">
            是没有什么乱七八糟的东西，规则和去年和去年的去年一样为组队参赛。
        </p>
        <p class="info-detail">
            两人一组，各自完成各自的作品（并非合作完成一个作品）
        </p>
        <p class="info-detail">
            完成的作品会在同一日公布，并进行同步率评测，同步率评测由观众参与，觉得两作品有共鸣感即可。
        </p>
        <p class="info-detail">
            （不论是主题，风格，素材，还是歌曲，只要你用心一定能让观众找到你们心意相通的地方）
        </p>
        <p class="info-detail">
            同步率只是评分的一个加分项，并不会拖累作者本人的作品评分。
        </p>
        <p class="info-detail">
            本次依旧会对同步率高的配对作者进行奖励。
        </p>
        <p class="info-detail">
            如果是没有基友组队，我们将根据报名时填写的“编号”进行匹配，来随机配对。
        </p>
        <p class="info-detail">
            我们会将组合后的人员的联系方式交付给对方，希望两人能互相交流，完成作品，
        </p>
        <p class="info-detail">
            MAD是一个人的战斗，但我们相信交流能让MAD更加美味~
        </p>

        <!-- 3 -->
        <div class="info-title">
            <span class="left">作品</span>
            <span class="right">要球</span>
        </div>

        <p class="info-detail">
            1.不限动画系和静止系
        </p>
        <p class="info-detail">
            2.严禁抄袭，使用其他人加工过的MAD片段请经过原作者同意，且不能超过作品时长的十分之一
        </p>
        <p class="info-detail">
            3.请使用ACG素材
        </p>

        <!-- 4 -->
        <div class="info-title">
            <span class="left">报名</span>
            <span class="right">通道</span>
        </div>

        <p class="info-detail">
            区分为单人报名和组队报名，详细请戳报名通道
        </p>
        <p class="info-detail">
            请在2月14日前，完成报名
        </p>

        <div id="footer">
            <div id="logo-skm"></div>
            <p>Copyright © 2008-2016 SakuraMaiMad Studio</p>
        </div>

    </div>

</div>

{% endblock %}
