{% extends '2016/base.html' %}

{% block title %}
<title>庆祝热地板准备结婚！</title>
{% endblock %}

{% block main %}

<div id="signup-container">
    <ul class="links-container">
        <li class="links">
            报名细则
        </li>
        <li class="links">
            <a href="#" id="single-link">单人报名</a>
        </li>
        <li class="links">
            <a href="#" id="team-link">组队报名</a>
        </li>
        <li class="links">
            <a href="#" id="signup-link">报名入口</a>
        </li>
    </ul>

    <div class="main">

        <!-- 1 -->
        <div class="info-title">
            <span class="left">组队</span>
            <span class="right">报名</span>
        </div>

        <p class="info-detail">
            请填写组队双方的ID，双方的联系方式，以及以往作品链接
        </p>

        <!-- 2 -->
        <div class="info-title">
            <span class="left">单人</span>
            <span class="right">报名</span>
        </div>

        <p class="info-detail">
            请填写ID，编号（注：0~9），联系方式，以及以往作品链接
        </p>

        <!-- 3 -->
        <div class="info-title">
            <span class="left">报名</span>
            <span class="right">截至</span>
        </div>

        <p class="info-detail">
            2016年2月14日 20:00
        </p>

        <!-- 4 -->
        <div class="info-title">
            <span class="left">作品</span>
            <span class="right">截稿</span>
        </div>

        <p class="info-detail">
            2016年3月10日
        </p>

        <a id="click-me-to-signup" class="click-me-to-signup" href="#">点击报名</a>

        <div id="footer">
            <div id="logo-skm"></div>
            <p>Copyright © 2008-2016 SakuraMaiMad Studio</p>
        </div>

    </div>

</div>

<!--<div class="ui modal" id="single-form">

    <div class="ui dimmer">
        <div class="content">
            <div class="center">
                <h2 class="ui inverted header" id="dimmer-title">Title</h2>
            </div>
        </div>
    </div>

    <div class="header">
        Single dog, single dog, single all the day
    </div>
    <div class="content ui form">
        <div class="field">
            <label>用户名</label>
            <input type="text" name="author1" id="author1" placeholder="hotfloor">
        </div>
        <div class="field">
            <label>联系方式</label>
            <input type="text" name="contact1" id="contact1" placeholder="hotfloor@qq.com">
        </div>
        <div class="field">
            <label>备注</label>
            <input type="text" name="remark1" id="remark1" placeholder="报名后可以找热地板要红包">
        </div>
        <div class="field">
            <label>配对号</label>
            <input type="text" name="pair-num" id="pair-num" placeholder="热地板规定填0~9">
        </div>
        <div class="field">
            <input type="hidden" name="is_team" id="is_team" value="0">
        </div>
    </div>
    <div class="actions">
        <div class="ui button cancel red">Cancel</div>
        <div class="ui button ok green" id="single-submit">OK</div>
    </div>
</div>

<div class="ui modal" id="team-form">

    <div class="ui dimmer">
        <div class="content">
            <div class="center">
                <h2 class="ui inverted header" id="dimmer-title">Title</h2>
            </div>
        </div>
    </div>

    <div class="header">
        秀恩爱，分的快，你们怎么就不懂？
    </div>
    <div class="content ui form">
        <div class="field">
            <label>用户名</label>
            <input type="text" name="author1" id="author1" placeholder="hotfloor">
        </div>
        <div class="field">
            <label>联系方式</label>
            <input type="text" name="contact1" id="contact1" placeholder="hotfloor@qq.com">
        </div>
        <div class="field">
            <label>备注</label>
            <input type="text" name="remark1" id="remark1" placeholder="没爱了，友尽了，可以分了">
        </div>

        <div class="field">
            <label>用户名</label>
            <input type="text" name="author2" id="author2" placeholder="hotfloor's boyfriend">
        </div>
        <div class="field">
            <label>联系方式</label>
            <input type="text" name="contact2" id="contact2" placeholder="hotfloor_bf@qq.com">
        </div>
        <div class="field">
            <label>备注</label>
            <input type="text" name="remark2" id="remark2" placeholder="多照照镜子，很多事情你就明白原因了">
            </div>

        <div class="field">
            <input type="hidden" name="is_team" id="is_team" value="1">
        </div>
    </div>
    <div class="actions">
        <div class="ui button cancel red">Cancel</div>
        <div class="ui button ok green" id="team-submit">OK</div>
    </div>
</div>

<div class="ui basic modal" id="form-success">
    <div class="ui icon header">
        <i class="checkmark icon"></i>
        报名成功
    </div>
    <div class="ui content center aligned segment">
        你这么努力，忍受那么多寂寞和纠结，我们也没觉得你有多优秀。
    </div>
</div>

<div class="ui basic modal" id="form-fail">
    <div class="ui icon header">
        <i class="remove icon"></i>
        报名失败
    </div>
    <div class="ui content center aligned segment">
        你还想做单身狗吗？快去找热地板要脱团攻略吧！
    </div>
</div>

<div class="ui basic modal" id="error">
    <div class="ui icon header">
        <i class="remove icon"></i>
        服务器发生故障
    </div>
    <div class="ui content center aligned segment">
        尝尝热地板的愤怒吧！秀恩爱瞎你们的狗眼！
    </div>
</div>

<div class="ui basic modal" id="signup-entry">
    <div class="ui icon header">
        <i class="help icon"></i>
        你是单身狗吗？
    </div>
    <div class="actions">
        <div class="ui button cancel">不是</div>
        <div class="ui button ok">是的</div>
   </div>
</div>-->

<div class="ui basic modal" id="signup-end">
    <div class="ui icon header">
        <i class="announcement icon">
            报名结束
        </i>
    </div>
</div>

{% endblock %}
