{% extends '2016/base.html' %}

{% block title %}
<title>庆祝热地板有男盆友！</title>
{% endblock %}

{% block main %}

<div id="signup-container">
    <ul class="links-container">
        <li class="links">报名细则</li>
        <li class="links">组队报名</li>
        <li class="links">单人报名</li>
        <li class="links">报名入口</li>
    </ul>

    <div class="main">

        <!-- 1 -->
        <div class="info-title">
            <span class="left">组队</span>
            <span class="right">报名</span>
        </div>

        <p class="info-detail">
            请填写组队双方的ID，双方的联系方式，以及以往作品链接
        </p>

        <!-- 2 -->
        <div class="info-title">
            <span class="left">单人</span>
            <span class="right">报名</span>
        </div>

        <p class="info-detail">
            请填写ID，编号（注：0~9），联系方式，以及以往作品链接
        </p>

        <!-- 3 -->
        <div class="info-title">
            <span class="left">报名</span>
            <span class="right">截至</span>
        </div>

        <p class="info-detail">
            2016年2月14日 20:00
        </p>

        <!-- 4 -->
        <div class="info-title">
            <span class="left">作品</span>
            <span class="right">截稿</span>
        </div>

        <p class="info-detail">
            2016年3月10日
        </p>

        <a id="click-me-to-signup" href="#">点击报名</a>

        <div id="footer">
            <div id="logo-skm"></div>
            <p>Copyright © 2008-2016 SakuraMaiMad Studio</p>
        </div>

    </div>

</div>

{% endblock %}
