Django==1.6.1
MySQL-python==1.2.4
PyJWT==0.1.6
PyRSS2Gen==1.0.0
PyYAML==3.10
South==0.8.4
Twisted==12.0.0
Werkzeug==0.9.4
altgraph==0.9
argparse==1.2.1
bdist-mpkg==0.4.4
bonjour-py==0.3
django-grappelli==2.5.1
duoshuo-python-sdk==0.1
enum==0.4.4
grizzled-python==1.0.1
macholib==1.4.2
modulegraph==0.9.1
numpy==1.6.1
path.py==4.3
prettytable==0.7.2
py2app==0.6.3
pyOpenSSL==0.13
pylibmc==1.2.3
pyobjc-core==2.3.2a0
pyobjc-framework-AddressBook==2.3.2a0
pyobjc-framework-AppleScriptKit==2.3.2a0
pyobjc-framework-AppleScriptObjC==2.3.2a0
pyobjc-framework-Automator==2.3.2a0
pyobjc-framework-CFNetwork==2.3.2a0
pyobjc-framework-CalendarStore==2.3.2a0
pyobjc-framework-Cocoa==2.3.2a0
pyobjc-framework-Collaboration==2.3.2a0
pyobjc-framework-CoreData==2.3.2a0
pyobjc-framework-CoreLocation==2.3.2a0
pyobjc-framework-CoreText==2.3.2a0
pyobjc-framework-DictionaryServices==2.3.2a0
pyobjc-framework-ExceptionHandling==2.3.2a0
pyobjc-framework-FSEvents==2.3.2a0
pyobjc-framework-InputMethodKit==2.3.2a0
pyobjc-framework-InstallerPlugins==2.3.2a0
pyobjc-framework-InstantMessage==2.3.2a0
pyobjc-framework-InterfaceBuilderKit==2.3.2a0
pyobjc-framework-LatentSemanticMapping==2.3.2a0
pyobjc-framework-LaunchServices==2.3.2a0
pyobjc-framework-Message==2.3.2a0
pyobjc-framework-OpenDirectory==2.3.2a0
pyobjc-framework-PreferencePanes==2.3.2a0
pyobjc-framework-PubSub==2.3.2a0
pyobjc-framework-QTKit==2.3.2a0
pyobjc-framework-Quartz==2.3.2a0
pyobjc-framework-ScreenSaver==2.3.2a0
pyobjc-framework-ScriptingBridge==2.3.2a0
pyobjc-framework-SearchKit==2.3.2a0
pyobjc-framework-ServerNotification==2.3.2a0
pyobjc-framework-ServiceManagement==2.3.2a0
pyobjc-framework-SyncServices==2.3.2a0
pyobjc-framework-SystemConfiguration==2.3.2a0
pyobjc-framework-WebKit==2.3.2a0
pyobjc-framework-XgridFoundation==2.3.2a0
python-dateutil==1.5
pytz==2013.8
requests==2.0.1
sae-python-dev==1.2.0
sh==1.09
sqlcmd==0.7.1
stevedore==0.12
uWSGI==2.0
vboxapi==1.0
virtualenv==1.10.1
virtualenv-clone==0.2.4
virtualenvwrapper==4.1.1
whenpy==0.3.0
wsgiref==0.1.2
xattr==0.6.2
zope.interface==3.5.1
