<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>作品信息——SKM第五届白色情人祭</title>
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link rel="Shortcut Icon" href="/favicon.ico">
  <link rel="Bookmark" href="/favicon.ico">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/static/js/snowfall.jquery.js"></script>
  <script type="text/javascript" src="/static/js/snowfall.js"></script>
  <style type="text/css">
    body {
      padding-top: 26px;
    }
  </style>
</head>


<body>

<div id="layer" style="height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index:9998; display: none;background-color: none;background-color: black;opacity: 0.8; filter:alpha(opacity=20);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";"></div>

  <div class="mycontainer">
  	<div style="padding-top:30px;"></div>
    <a href="{% url skm_index %}"><div class="base1_top"></div></a>
	<div class="base1_nav">
	  <a class="base1_introduce" href="{% url skm_introduce %}"></a>
	  <a class="base1_signup" href="{% url skm_white_day_signup %}"></a>
	  <a class="base1_arrangement" href="/2013/"></a>
	  <a class="base1_previous" href="#"></a>
  </div>

  <div class="display_main">
  	{% for mad in mads %}
      <div class="frame_up">
      	<span class="frame_text">
          <div class="mad_info">
            <p class="mad_title">{{ mad.title }}</p>
            <p class="mad_author">{{ mad.author }}</p>
          </div>
          <div class="dl_info">
            <p class="mad_dl">下载地址</p>
            <p class="dl_addr"><a href="{{ mad.download1 }}">百度云</a></p>
          </div>
          <p class="feeling">感想</p>
      	</span>
      	<a href="javascript:void(0)" onclick="show(this);" title="{{ mad.id }}">
          <img src="{{ mad.image }}" class="mad_image"></img>
        </a>
      	<p class="mad_feeling">{{ mad.feeling|linebreaksbr }}</p>
      </div>
      <div class="frame_down"></div>
      <div id="{{ mad.id }}" style="position: fixed; margin: auto; width: 960px; height: 540px; left:0; right:0; top:0; bottom:0; z-index:9999; display: none;">
        {{ mad.online|safe }}
      </div>
    {% empty %}
      <div class="hide">
        <br />
        <br />
        <p>果然有人直接从URL进来这里...怎么办<img src="/static/img/img1.gif"></img></p>
        <p><img src="/static/img/img2.gif"></img>@hotfloor @热地板 @SKM女王 @女帝 求救命！</p>
        <p>........................................................................................<img src="/static/img/hotfloor2.gif" class="hotfloor"></img></p>
        <p><img src="/static/img/hotfloor.gif" class="hotfloor"></img>........................................................................................</p>
        <p>哼！！！马上就让你上百合网！是不是很激动？<img src="/static/img/color_hotfloor.jpg" class="color_hotfloor"></p>
      </div>
    {% endfor %}
  </div>

  <div class="day_nav">
    <ul>
      赛程
    {% for url in urls %}
      <li><a href="/2013/{{ url.url_index }}/">{{ url.display }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <img src="/static/img/hotfloor2.gif" class="queen"></img>


  <div class="footer" style="margin-top:-10px;">
    <div class="logo"><a href="http://skm-studio.org/bbs/">
    <img src="/static/img/logo.png"></img></a></div>
    <div class="copyright"><p>Copyright &copy;Sakuramai Mad Studio</p></div>
  </div>

  <script type="text/javascript">
    function show(obj){
      window.id = $(obj).attr("title");
      document.getElementById('layer').style.display = "inline";
      document.getElementById(id).style.display = "inline";
    };

    document.getElementById('layer').onclick = function(){
      document.getElementById('layer').style.display = "none";
      document.getElementById(id).style.display = "none";
    };
  </script>

</body>
</html>