<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>赛事介绍——SKM第五届白色情人祭</title>
  <link href="/static/css/main.css" type="text/css" rel="stylesheet" />
  <link rel="Shortcut Icon" href="/favicon.ico">
  <link rel="Bookmark" href="/favicon.ico">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script src="/static/js/snowfall.jquery.js" type="text/javascript"></script>
  <script src="/static/js/snowfall.js" type="text/javascript"></script>
</head>

<body>
  <div class="mycontainer">
  	<div style="padding-top:30px;"></div>
    <a href="{% url skm_index %}"><div class="base1_top"></div></a>
	<div class="base1_nav">
	  <a class="base1_introduce" href="{% url skm_introduce %}"></a>
	  <a class="base1_signup" href="{% url skm_white_day_signup %}"></a>
	  <a class="base1_arrangement" href="/2013/"></a>
	  <a class="base1_previous" href="#"></a>
	</div>
	<div class="intr_main">
	  <div class="intr_about_event">
	  	<img src="/static/img/intr_about_event.gif"></img>
	  	<div class="about_event_text">
	  	  <p style="color:#515151"><span style="color:#ff3985"><font size="5"><a style="color:#ff3985;" href="http://www.bilibili.tv/sp/%E7%99%BD%E8%89%B2%E6%83%85%E4%BA%BA%E7%A5%AD">白色情人祭</a></font></span>是SakuraMai M@D Studio历年MAD活动，从09年开始每年一届，至2012年已经举办4届。
		  起初是在农历新年进行的组内MAD展示大会，后变为面向全体MADer的MAD活动，自第二届开始“情人祭”改名为“白色情人祭”，于每年的3.14日公开。12年改为组队方式参与。
	      </p>
		  <br />
		  <br />
	  	</div>
	  </div>

	  <div class="intr_about_application">
	  	<img src="/static/img/intr_about_application.gif"></img>
	  	<div class="about_application_text">
	  	  <p style="color:#65b375"><font size="5">参赛要求：</font></p>
	  	  <p>今年依旧采用两人组队报名制，依旧不是要求合作作品，两人需要<font color="#65b375">各自独立完成作品</font>。<br />
		  完成的作品会在同一日公布，并进行同步率评测，同步率评测由观众参与，觉得两作品有共鸣感即可。
		  （不论是主题，风格，素材，还是歌曲，只要你用心一定能让观众找到你们心意相通的地方），
		  同步率只是评分的一个加分项，并不会拖累作者本人的作品评分。<br />
		  本次会对同步率高的配对作者进行奖励。</p>
		  <br />
		  <p>如果是没有基友组队，我们将采取报名后根据“编号”匹配方式进行配对。<br />
		  我们会将组合后的人员的联系方式交付给对方，希望两人能互相交流，完成作品，<br />
		  MAD是一个人的战斗，但我们相信交流能让MAD更加美味~</p>
		  <br />
		  <p>只要你是MADer 就来吧</p>
		  <br />
		  <p style="color:#65b375"><font size="5">作品要求：</font></p>
		  <p>1.不限动画系和静止系</p>
		  <p>2.严禁抄袭，使用其他人加工过的MAD片段请经过原作者同意，且不能超过作品时长的十分之一</p>
		  <p>3.请使用ACG素材</p>
		  <br />
		  <p style="color:#65b375"><font size="5">报名规则：</font></p>
		  <p>区分为单人报名和组队报名，详细请戳<font color="#65b375">报名通道</font></p>
          <p>请在1月23日前，完成报名</font></p>
		  <br />
		  <br />
		</div>
	  </div>

	  <div class="intr_about_skm">
	  	<img src="/static/img/intr_about_skm.gif"></img>
	  	<div class="about_skm_text">
	  	  <p style="color:#515151"><span style="color:#ff3985">SakuraMai M@D Studio （樱舞MAD组）</span>是一个成立于2008年3月21日的同人MAD制作团队。
		  虽然起初只是一个由3名MADer发起组成的小团体，但是通过敏那得努力和奋斗，逐渐发展壮大，
		  现在已经成为了一个拥有30多名成员的大家庭。 组内每年举办新年祭、周年活动等多个Event；
		  SMAD、MADeMAD大赛也都能看到组员的影子。在2009年，新的论坛也已经安家落户，不但有MAD看，
		  教程和资源也很丰富，随时等待着广大MAD爱好者的光临。<br />
		  SKM的宗旨是：静止系与动画系，两手到要抓；技术与爱，两手都要硬。</p><br />
		  <p>SKM的基地：http://www.skm-studio.org/bbs/</p><br />
		  <p>咦你说为什么不人性化地做个链接？</p>
		  <p>戳下面的logo图啦！ (`・д・´)八嘎！</p>
	  	</div>
	  </div>
	</div>
  </div>
  <div class="footer">
    <div class="logo"><a href="http://skm-studio.org/bbs/">
    <img src="/static/img/logo.png"></img></a></div>
    <div class="copyright"><p>Copyright &copy;Sakuramai Mad Studio</p></div>
   </div>
</body>
</html>