<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>参赛名单——SKM第五届白色情人祭</title>
  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link type="text/css" rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
  <link rel="Shortcut Icon" href="/favicon.ico">
  <link rel="Bookmark" href="/favicon.ico">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/static/js/snowfall.jquery.js"></script>
  <script type="text/javascript" src="/static/js/snowfall.js"></script>
  <style type="text/css">
    body {
      padding-top: 26px;
    }
  </style>
</head>

<body>
  <div class="mycontainer">
  	<div style="padding-top:30px;"></div>
    <a href="{% url skm_index %}"><div class="base1_top"></div></a>
	<div class="base1_nav">
	  <a class="base1_introduce" href="{% url skm_introduce %}"></a>
	  <a class="base1_signup" href="{% url skm_white_day_signup %}"></a>
	  <a class="base1_arrangement" href="/2013/"></a>
	  <a class="base1_previous" href="#"></a>
	</div>

	<div class="par_main">
	  <div class="par_members">
	  	<br />
	  	<img class="par_members_pic" src="/static/img/par_members.gif"></img>
	  	<div class="par_members_text">
	  	  <br />
	  	  <p style="font-size:1.5em; margin-left:270px;">结婚组</p>
	  	  <table style="margin:auto;" class="table table-condensed">
	  	  	<thead>
	  	  	  <tr>
	  	  	  	<th style="width:200px; text-align:center; font-size:1.5em">汉纸</th>
	  	  	  	<th></th>
	  	  	  	<th style="width:200px; text-align:center; font-size:1.5em">妹纸</th>
	  	  	  </tr>
	  	  	</thead>
	  	  	<tbody>
		  	  {% for team in final_team_list %}
		  	  <tr>
		  	    {% for i in team %}
		  	      <td style="text-align:center; font-size:15px;">{{ i.author }}</td>
		  	      {% if forloop.first %}
		  	        <td style="text-align:center;"><span class="par_members_heart"></span></td>
		  	      {% endif %}
		  	    {% endfor %}
		  	  {% endfor %}
		  	  </tr>
		  	</tbody>
	  	  </table>

	  	  <br />
	  	  <br />

	  	  <p style="font-size:1.5em; margin-left:270px;">相亲组</p>
	  	  <table style="margin:auto;" class="table table-condensed">
	  	  	<thead>
	  	  	  <tr>
	  	  	  	<th style="width:200px; text-align:center; font-size:1.5em">可爱的男孩纸</th>
	  	  	  	<th></th>
	  	  	  	<th style="width:200px; text-align:center; font-size:1.5em">❤萌妹子❤</th>
	  	  	  </tr>
	  	  	</thead>
	  	  	<tbody>
		  	  {% for single in final_single_list %}
		  	  <tr>
		  	    {% for j in single %}
		  	      <td style="text-align:center; font-size:15px;">{{ j.author }}</td>
		  	      {% if forloop.first %}
		  	        <td style="text-align:center;"><span class="par_members_clover"></span></td>
		  	      {% endif %}
		  	    {% endfor %}
		  	  {% endfor %}
		  	  </tr>
		  	</tbody>
	  	  </table>
	  	  <br />
	  	  <p style="font-size:15px;">*注意: 小甜点作品不参加正赛，即不参加奖品评选。</p>
	  	</div>
	  </div>
	</div>
  </div>


  <div class="footer" style="margin-top:-10px;">
    <div class="logo"><a href="http://skm-studio.org/bbs/">
    <img src="/static/img/logo.png"></img></a></div>
    <div class="copyright"><p>Copyright &copy;Sakuramai Mad Studio</p></div>
   </div>
</body>
</html>