body {
    width: 100%;
    height: 100%;
    background: black;
    font-family: "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

button {
    border: 0;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
}

.mgB20 {
    margin-bottom: 20px;
}

/* Layout */

.wrapper {
    width: 1000px;
    height: 100%;
    min-height: 100%;
    margin: 30px auto;
    text-align: center;
}

#index-cover {
    width: 913px;
    height: 616px;
    margin: 50px auto;
    background: url('../images/index-cover.png') no-repeat;
}

#queen {
    height: 100%;
}

#queen-x {
    width: 1000px;
    height: 100%;
    margin: auto;
}

#queen .logo-ev {
    width: 1366px;
    height: 481px;
    margin: auto;
    background: url('../images/logo-ev.gif') no-repeat;
}

#queen-x .logo-ev {
    width: 952px;
    height: 291px;
    margin: auto;
    background: url('../images/logo-ev-x.gif') no-repeat;
}

.nav {
    width: 1000px;
    margin: 10px auto;
}

.nav a {
    display: inline-block;
    margin-right: -4px;
    list-style-type: none;
    cursor: pointer;
    margin-left: 185px;
}

.nav a:first-child {
    margin-left: 0;
}

/* Nav for Queen */

#queen .nav a {
    width: 111px;
    height: 46px;
    background: url('../images/nav.jpg') no-repeat;
}

#queen .nav a.info {
    background-position: 0 0;
}

#queen .nav a.info {
    background-position: 0 0;
}

#queen .nav a.info:hover {
    background-position: 0 -48px;
}

#queen .nav a.signup {
    background-position: -110px 0;
}

#queen .nav a.signup:hover {
    background-position: -110px -48px;
}

#queen .nav a.watch {
    background-position: -220px 0;
}

#queen .nav a.watch:hover {
    background-position: -220px -49px;
}

#queen .nav a.prev {
    background-position: -333px 0;
}

#queen .nav a.prev:hover {
    background-position: -333px -48px;
}

/* Nav for Queen-X */

#queen-x .nav a {
    width: 111px;
    height: 40px;
    background: url('../images/nav-x.gif') no-repeat;
}

#queen-x .nav a.info {
    background-position: 0 0;
}

#queen-x .nav a.info {
    background-position: 0 0;
}

#queen-x .nav a.info:hover {
    background-position: 0 -40px;
}

#queen-x .nav a.signup {
    background-position: -110px 0;
}

#queen-x .nav a.signup:hover {
    background-position: -110px -40px;
}

#queen-x .nav a.watch {
    background-position: -220px 0;
}

#queen-x .nav a.watch:hover {
    background-position: -220px -41px;
}

#queen-x .nav a.prev {
    background-position: -333px 0;
}

#queen-x .nav a.prev:hover {
    background-position: -333px -41px;
}

.footer {
    width: 1000px;
    height: auto;
    margin: 20px auto;
}

#queen .footer {
    margin-top: 80px;
}

.footer .logo-skm {
    width: 84px;
    height: 35px;
    margin: 0 auto;
    background: url('../images/logo-skm.gif') no-repeat;
}

.footer .hotfloor {
    text-align: center;
}

/* End Layout */

/* Signup Page */

.title {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.content {
    font-size: 16px;
    line-height: 20px;
    color: #aa1717;
}

.signup-rule-detail {
    width: 120px;
    height: 22px;
    margin: 0 auto;
    background: url('../images/signup-rule-detail.gif') no-repeat;
}

.signup-btn {
    width: 162px;
    height: 29px;
    display: block;
    margin: 40px auto 0;
    background: url('../images/signup-btn.gif') no-repeat;
}

/* End Signup Page */

/* Info Page */
.about-white {
    width: 244px;
    height: 23px;
    margin: 30px auto;
    background: url('../images/about-white.gif') no-repeat;
}

.signup-rule {
    width: 120px;
    height: 22px;
    margin: 30px auto;
    background: url('../images/signup-rule.gif') no-repeat;
}

.mad-require {
    width: 121px;
    height: 23px;
    margin: 30px auto;
    background: url('../images/mad-require.gif') no-repeat;
}

.signup-nav {
    width: 120px;
    height: 22px;
    margin: 30px auto;
    background: url('../images/signup-nav.gif') no-repeat;
}

/* Participants Page */

.love-together {
    width: 128px;
    height: 25px;
    margin: 30px auto;
    background: url('../images/love-together.jpg') no-repeat;
}

.love-together-will {
    width: 147px;
    height: 25px;
    margin: 30px auto;
    background: url('../images/love-together-will.jpg') no-repeat;
}

.participants-outer {
    width: 660px;
    margin: 30px auto;
}

.participants-group .team {
    list-style-type: none;
}

.participants-group .team.no-mgL {
    margin-left: 0;
}

.participants-group .team .author {
    width: 265px;
    height: 41px;
    line-height: 41px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.participants-group .team .author:first-letter {
    color: #bd1313;
}
.participants-group .team span.icon-pair {
    width: 41px;
    height: 38px;
    display: inline-block;
}

.participants-group .team span.icon-pair.heart {
    background: url('../images/heart.gif') no-repeat;
}

.participants-group .team span.icon-pair.cross {
    background: url('../images/cross.gif') no-repeat;
}

/* End Participants Page */

/* Schedule Page */
.schedule-groups {
    width: 990px;
    padding: 0;
    margin: auto;
}

.schedule-group {
    width: 984px;
    height: 317px;
    margin: 50px auto;
    position: relative;
    background: url('../images/schedule-group-bg.png') no-repeat;
}

.schedule-group .day-title {
    height: 30px;
    font-size: 24px;
    line-height: 30px;
    margin-top: 2px;
    margin-bottom: 22px;
    text-align: center;
    display: block;
}

.schedule-group .day-title a {
    color: white;
}

.schedule-group .day-title a:hover {
    text-decoration: none;
}

.schedule-group .mad-outer {
    width: 412px;
    height: 278px;
    margin-right: -4px;
    display: inline-block;
    vertical-align: top;
}

.schedule-group .mad-outer.left {
    float: left;
    margin-left: 20px;
}

.schedule-group .mad-outer.right {
    float: right;
    margin-right: 20px;
}


.schedule-group .mad-outer .cover-outer {
    width: 390px;
    height: 220px;
    margin-bottom: 5px;
}

.schedule-group .mad-outer .cover-outer img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.schedule-group .mad-outer .mad-title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 3px;
    color: white;
    clear: both;
}

.schedule-group .mad-outer .mad-author {
    font-size: 17px;
    line-height: 17px;
    padding: 0 10px;
    color: black;
}

.schedule-group .vote {
    width: 18px;
    height: 44px;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -9px;
    background: url('../images/vote.png') no-repeat;
}

/* End Schedule Page */

/* Display Page */
.display-outer {
    width: 1000px;
    margin-top: 100px;
    position: relative;
}

.display-outer .mad-info-outer {
    width: 440px;
    padding: 20px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    float: left;
}

.display-outer .mad-info-outer p {
    font-size: 16px;
    color: white;
}

.display-outer .cover-outer {
    width: 500px;
    height: 300px;
    top: -20px;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.display-outer .cover-outer img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.display-outer .display-outer-bg {
    width: 980px;
    height: 300px;
    top: 0;
    z-index: -1;
    position: absolute;
    background-color: #800;
}

.display-outer.odd .cover-outer {
    float: right;
}

.display-outer.even .cover-outer {
    float: left;
}

.display-outer.even .display-outer-bg {
    left: 20px;
}

/* End Display Page */

/* Error Page */
.error-outer {
    margin: 50px auto;
}

.error-outer p {
    font-size: 20px;
    line-height: 24px;
}

.error-outer .delline {
    color: #aa1717;
}

/* End Error Page */

.t-white {
    color: white;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}


.clearfix:after {
    clear: both;
}
