{% extends '2014/base.html' %}
{% load staticfiles %}

{% block main %}
<div class="error-outer">
    <img class="center mgB20" src="{% static '2014/images/lich-queen.jpg' %}" alt="">

    <p class="t-center t-white">我是Lich Queen</p>
    <p class="t-center t-white">这里是我的<del class="delline">404页面</del>后宫</p>
    <p class="t-center t-white">你居然敢把我的后宫玩坏</p>
    <p class="t-center t-white">给我洗净菊花</p>
    <p class="t-center t-white">说的就是你</p>
    <p class="t-center t-white">快把地上的肥皂捡了</p>
    <p class="t-center t-white">哈哈哈哈哈哈哈哈哈哈</p>
</div>
{% endblock %}
