{% extends '2014/base.html' %}

{% block title %}
<title>基佬大战热地板</title>
{% endblock %}


{% block main %}

    <div id="overlay"></div>

    {% for mad in mads %}
    <div class="display-outer clearfix {% if forloop.counter|divisibleby:2%}even{% else %}odd{% endif %}">

        <div class="cover-outer">

            <a class="js-show-video" href="#">
                <img src="{{ mad.image }}" alt="">
            </a>
            <div class="video">
                {{ mad.online|safe }}
            </div>
        </div>

        <div class="mad-info-outer">
            <div class="mad-info-offset">
                <p class="mad-info">TITLE: {{ mad.title }}</p>
                <p class="mad-info">AUTHOR: {{ mad.author }}</p>
                <p class="mad-info">DOWNLOAD: 
                    {% if mad.download1 %} 
                        <a class="mad-download" href="{{ mad.download1 }}">百度云</a>
                    {% endif %}
                    {% if mad.download2 %} 
                        <a class="mad-download" href="{{ mad.download2 }}">115网盘</a>
                    {% endif %}
                </p>
                <div>
                    <p class="mad-info">ABOUT:</p>
                    <p>{{ mad.feeling|linebreaksbr }}</p>
                </div>
            </div>
        </div>

        <div class="display-outer-bg"></div>
    </div>
    {% endfor %}
{% endblock %}
