{% extends '2014/base.html' %}

{% block title %}
<title>地板宣言</title>
{% endblock %}

{% block main %}
<div class="wrapper">
    <div class="about-white"></div>
    <p class="content"><span class="t-white">白色情人祭</span>是SakuraMai M@D Studio历年MAD活动，</p>
    <p class="content">从09年开始每年一届，至2012年已经举办4届。 </p>
    <p class="content">起初是在农历新年进行的组内MAD展示大会，后变为面向全体MADer的MAD活动，</p>
    <p class="content">自第二届开始“情人祭”改名为“白色情人祭”，</p>
    <p class="content">于每年的3.14日公开。12年改为组队方式参与。</p>

    <div class="signup-rule"></div>
    <p class="content">没有什么乱七八糟的东西，规则和去年和去年的去年一样为组队参赛</p>
    <p class="content"><span class="t-white">两人</span>一组，<span class="t-white">各自完成各自的作品</span>（并非合作完成一个作品）</p>
    <p class="content">完成的作品会在同一日公布，并进行同步率评测，同步率评测由观众参与，觉得两作品有共鸣感即可。 </p>
    <p class="content">（不论是主题，风格，素材，还是歌曲，只要你用心一定能让观众找到你们心意相通的地方）， </p>
    <p class="content">同步率只是评分的一个加分项，并不会拖累作者本人的作品评分。</p>
    <p class="content">本次依旧会对同步率高的配对作者进行奖励。</p>
    <br />
    <p class="content">如果是<span class="t-white">没有基友组队</span>，我们将根据报名时填写的“编号”进行匹配，来随机配对。</p>
    <p class="content">我们会将组合后的人员的联系方式交付给对方，希望两人能互相交流，完成作品，</p>
    <p class="content">MAD是一个人的战斗，但我们相信交流能让MAD更加美味~</p>
    <br />
    <p class="content">只要你是MADer 就来吧</p>

    <div class="mad-require"></div>
    <p class="content">1.不限动画系和静止系</p>
    <p class="content">2.严禁抄袭，使用其他人加工过的MAD片段请经过原作者同意，且不能超过作品时长的十分之一</p>
    <p class="content">3.请使用ACG素材</p>

    <div class="signup-nav"></div>
    <p class="content">区分为单人报名和组队报名，详细请戳报名通道</p>
    <p class="content">请在<span class="t-white">1月23日</span>前，完成报名</p>

    <div class="about-skm"></div>
    <p class="content"><span class="t-white">SakuraMai M@D Studio</span>（樱舞MAD组）是一个成立于2008年3月21日的同人MAD制作团队。</p>
    <p class="content">虽然起初只是一个由3名MADer发起组成的小团体，但是通过敏那得努力和奋斗，</p>
    <p class="content">逐渐发展壮大， 现在已经成为了一个拥有30多名成员的大家庭，现在朝着<span class="t-white">SKM48</span>努力奋斗中！ </p>
    <p class="content">组内每年举办新年祭、周年活动等多个Event； SMAD、MADeMAD大赛也都能看到组员的影子。</p>
    <p class="content">在2009年，新的论坛也已经安家落户，不但有MAD看， 教程和资源也很丰富，随时等待着广大MAD爱好者的光临。</p>
    <p class="content">SKM的宗旨是：<span class="t-white">静止系与动画系，两手到要抓；技术与爱，两手都要硬。</span></p>

    <br />
    <p class="content">SKM的基地：http://www.skm-studio.org/index.php</p>

</div>
{% endblock %}
