{% extends '2014/base.html' %}

{% block title %}
<title>围观基佬们刷地板</title>
{% endblock %}


{% block main %}

<div id="overlay"></div>

<ul class="schedule-groups">
    {% for each_day in schedule %}
        {% for team in each_day.competitors %}
        <li class="schedule-group clearfix">
            <h4 class="day-title">
                {% if forloop.first %}
                <a href="/2014/{{ each_day.day.day }}/">{{ each_day.day.description }}</a>
                {% endif %}
            </h4>


            <a class="vote js-vote" href="#" 
               data-vote-limit-day="{{ each_day.day.vote_limit_day }}"
               data-team-num="{% if forloop.first %}{{ each_day.day.team1 }}{% else %}{{ each_day.day.team2 }}{% endif %}"></a> 
                {% for mad in team %}
                    <div class="mad-outer
                               {% if forloop.counter0|divisibleby:2 %} 
                                   left 
                               {% else %}
                                   right
                               {% endif %}">
                        <div class="cover-outer
                                   {% if forloop.counter0|divisibleby:2 %}
                                       pull-left
                                   {% else %}
                                       pull-right
                                   {% endif %}">
                            <a class="js-show-video" href="#">
                                <img src="{{ mad.image }}" alt="">
                            </a>
                            <div class="video">
                                {{ mad.online|safe }}
                            </div>
                        </div>

                        <p class="mad-title
                                 {% if forloop.counter0|divisibleby:2 %} 
                                     t-left 
                                 {% else %}
                                     t-right
                                 {% endif %}">{{ mad.title }}</p>
                        <p class="mad-author
                                 {% if forloop.counter0|divisibleby:2 %} 
                                     t-right 
                                 {% else %}
                                     t-left
                                 {% endif %}">
                            {{ mad.author }}
                        </p>
                    </div>
                {% endfor %}
        </li>
        {% endfor %}
    {% endfor %}
</ul>
{% endblock %}
