{% extends '2013/base.html' %}
{% load staticfiles %}

{% block script %}
<script src="{% static '2013/js/vote.js' %}"></script>
<script src="{% static '2013/js/jquery-1.10.2.js' %}"></script>
{% endblock %}

{% block main %}

<div id="layer" style="height: 100%; width: 100%; position: fixed; left: 0px; top: 0px; z-index:9998; display: none;background-color: none;background-color: black;opacity: 0.8; filter:alpha(opacity=20);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";"></div>

  <div class="display_main">
  	{% for mad in mads %}
      <div class="frame_up">
      	<span class="frame_text">
          <div class="mad_info">
            <p class="mad_title">{{ mad.title }}</p>
            <p class="mad_author">{{ mad.author }}</p>
          </div>
          <div class="dl_info">
            <p class="mad_dl">下载地址</p>
            <p class="dl_addr"><a href="{{ mad.download1 }}">百度云</a></p>
          </div>
          <p class="feeling">感想</p>
      	</span>
      	<a href="javascript:void(0)" onclick="show(this);" title="{{ mad.id }}">
          <img src="{{ mad.image }}" class="mad_image"></img>
        </a>
        <div id="{{ mad.id }}" style="position: fixed; margin: auto; width: 960px; height: 540px; left:0; right:0; top:0; bottom:0; z-index:9999; display: none;">
          {{ mad.online|safe }}
        </div>
      	<p class="mad_feeling">{{ mad.feeling|linebreaksbr }}</p>
      </div>
      <div class="frame_down"></div>
      <div id="{{ mad.id }}" style="position: fixed; margin: auto; width: 960px; height: 540px; left:0; right:0; top:0; bottom:0; z-index:9999; display: none;">
        {{ mad.online|safe }}
      </div>
    {% empty %}
      <div class="hide">
        <br />
        <br />
        <p>果然有人直接从URL进来这里...怎么办<img src="{% static '2013/img/img1.gif' %}"></img></p>
        <p><img src="/static/img/img2.gif"></img>@hotfloor @热地板 @SKM女王 @女帝 求救命！</p>
        <p>........................................................................................<img src="/static/img/hotfloor2.gif" class="hotfloor"></img></p>
        <p><img src="/static/img/hotfloor.gif" class="hotfloor"></img>........................................................................................</p>
        <p>哼！！！马上就让你上百合网！是不是很激动？<img src="{% static '2013/img/color_hotfloor.jpg' %}" class="color_hotfloor"></p>
      </div>
    {% endfor %}
  </div>

  <div class="day_nav">
    <ul>
      赛程
    {% for s in schedule %}
      <li><a href="/2013/{{ s.day }}/">{{ s.description }}</a></li>
    {% endfor %}
    </ul>
  </div>
  <img src="{% static '2013/img/hotfloor2.gif' %}" class="queen"></img>

  <script type="text/javascript">
      var ntr_team = document.getElementsByClassName("clover");
      for (var i=0; i<ntr_team.length; i++){
        ntr_team[i].parentElement.parentElement.className = "team_bg_ntr";
        ntr_team[i].parentElement.parentElement.children[0].children[1].children[0].style.border="1px solid #65b375"
        ntr_team[i].parentElement.parentElement.children[3].children[1].children[0].style.border="1px solid #65b375"
      }

      function show(obj){
        window.id = $(obj).attr("title");
        document.getElementById('layer').style.display = "inline";
        document.getElementById(id).style.display = "inline";
      };

      document.getElementById('layer').onclick = function(){
        document.getElementById('layer').style.display = "none";
        document.getElementById(id).style.display = "none";
      };
  </script>

{% endblock %}
