<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<title>SKM第五届白色情人祭</title>
      {% load staticfiles %}
    	<link href="{% static '2013/css/main.css' %}" type="text/css" rel="stylesheet" />
      <link rel="Shortcut Icon" href="/favicon2013.ico?20140222">
      <link rel="Bookmark" href="/favicon2013.ico?20140222">
    </head>

    <body>
      {% load staticfiles %}
    	<div class="mycontainer">
         <div style="padding-top:30px;"></div>
    	   <div class="index_top"></div>
    	   <div class="index_nav"></div>
           <div class="index_main">
                <span class="ul">
                  <div class="index_previous"><a href="#"></a></div>
                </span>
                <span class="ur">
                  <div class="index_introduce"><a href="/2013/info/"></a></div>
                </span>
                <div class="clear"></div>
                <span class="ll">
                  <div class="index_views"><a href="/2013/schedule/"></a></div>
                </span>
                <span class="lr">
                  <div class="index_sign"><a href="/2013/signup/"></a></div>
                </span>
           </div>
      </div>
      <div class="footer">
           <div class="logo">
              <a href="http://skm-studio.org/bbs/">
                <img src="{% static '2013/img/logo.png' %}">
              </a>
            </div>
           <div class="copyright">
            <p style="font-size: 13px; line-height: 18px;">Copyright &copy;Sakuramai Mad Studio</p>
          </div>
      </div>
    </body>
</html>
